<template>
  <div class="row">
    <div class="col-md-6">
      <h2>
        <strong class="text-primary">
          {{location.name}}, {{location.sys.country}}
          <sup>
            <img :src=getCountryIcon(location.sys.country)>
          </sup>
        </strong>
      </h2>
      <h2>
        <img :src=getCloudIcon(location.weather[0].icon)>
        <span>
          <strong>{{location.main.temp}}
            <sup>°С</sup>
          </strong>
        </span>

      </h2>
      <b>
        <i> {{location.weather[0].description}}</i>
      </b>
    </div>
    <div class="col-md-6">
      <small>Temperature From
        <b>{{location.main.temp_min}}
          <sup>°С</sup>
        </b> To
        <b>{{location.main.temp_max}}
          <sup>°С</sup>
        </b>
      </small>
      <br/>
      <small>Wind : &nbsp;
        <strong> {{location.wind.speed}} m/s</strong>
      </small>
      <br/>
      <small>Clouds :
        <strong>{{location.clouds.all}} % , {{location.main.grnd_level}} hpa</strong>
      </small>
      <br/>
      <small>Geo Coordinates :
        <strong>[{{location.coord.lat}},{{location.coord.lon}}]</strong>
      </small>
      </br>

    </div>
  </div>
</template>

<script>
  export default {
    name: "location-data",
    props: {
      location: {
        "id": -1,
        "name": "",
        "coord": {
          "lat": -1,
          "lon": -1
        },
        "main": {
          "temp": -1,
          "pressure": -1,
          "humidity": -1,
          "temp_min": -1,
          "temp_max": -1,
          "sea_level": -1,
          "grnd_level": -1
        },
        "dt": 1510396801,
        "wind": {
          "speed": -1,
          "deg": -1
        },
        "sys": {
          "country": "IN"
        },
        "rain": null,
        "snow": null,
        "clouds": {
          "all": 0
        },
        "weather": [{
          "id": 0,
          "main": " ",
          "description": "",
          "icon": "01d"
        }]
      },

    },

    methods: {
      getCountryIcon: function (code) {
        return 'http://openweathermap.org/images/flags/' + code.toLowerCase() + '.png';
      },
      getCloudIcon: function (code) {
        return 'http://openweathermap.org/img/w/' + code.toLowerCase() + '.png';
      },
    }
  }

</script>
