<template>
  <div>
    <div class="row">
      <div class="col-md-10">
        <input class="form-control" v-model="$store.state.searchText" type="text" placeholder="Enter city name" v-on:keyup.enter="searchLocation"
          required>
        </input>
      </div>
      <div class="col-md-2">
        <b-button size="sm" variant="primary" v-on:click="searchLocation">
          <i class="fa fa-search"></i>Search
        </b-button>
      </div>

    </div>

    <div v-if="$store.state.searchResult.count>0">

      <div class="weather-row" v-for="result in $store.state.searchResult.list">

        <location_data v-bind:location="result"></location_data>

        
        <div class="text-right">
          <button class="btn btn-success sm" v-on:click="viewForecastDetails(result)">Weekly forecast</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import location_data from './LocationDetails.vue';
  export default {
    name: 'SearchLocation',
    components: {
      location_data
    },
    mounted: function () {
      this.$store.state.searchResult = {
        list: [],
        weather: []
      };

      if (this.$store.state.searchText != "") {
        this.searchLocation();
      }
    },
    computed: {

      nameState() {
        return this.name.length > 2 ? null : false;
      }
    },
    data() {
      return {

      }
    },
    methods: {
      searchLocation: function () {
        var self = this;
        this.$store.state.searchResult = {
          list: [],
          weather: []
        };
        //this.$store.state.searchText = this.searchText;

        if (!this.$store.state.searchText) {
          this.$snotify.error('Please provide city to search', 'Location Search');
          return;
        }
        self.$store.dispatch('searchLocation', this.$store.state.searchText).then(response => {
          //May show notification etc.
          if (response.data.count <= 0) {
            this.$snotify.error('Location data not found!', 'Location Search');
          }
        }, error => {
          console.log("error");
        })
      },
      getCountryIcon: function (code) {
        return 'http://openweathermap.org/images/flags/' + code.toLowerCase() + '.png';
      },
      getCloudIcon: function (code) {
        return 'http://openweathermap.org/img/w/' + code.toLowerCase() + '.png';
      },
      viewForecastDetails: function (result) {
        this.$store.state.selectedLocation = result;
        this.$router.push('/weather-forecast');
      }
    }
  }

</script>
