<template>
  <div>
    <div class="row">
      <div class="text-left col-md-6">

      </div>
      <div class="text-right col-md-6">
        <a class="btn btn-primary btn-sm text-white" :href="'#/'">Search location</a>
      </div>
    </div>
    <hr/>
    <div class="row">

      <div class="col-md-12">
        <location_data v-bind:location="$store.state.selectedLocation"></location_data>
      </div>

    </div>
    <hr/>
    <div class="week-box">
      <table class="table">
        <thead>
          <th v-for="detail in currentWeekData">
            <h6>{{detail.FormattedDate}}</h6>
            <h4 v-bind:class="[selectedDay.FormattedDate==detail.FormattedDate?'text-warning':'text-primary']">{{detail.DayOfDate}}</h4>
          </th>
        </thead>
        <tr>
          <td v-for="detail in currentWeekData">
            <small>
            <strong>HI:</strong> {{detail.MaxTemp}}
            <sup>°С</sup>
            <br/>
            <strong>LO:</strong> {{detail.MinTemp}}
            <sup>°С</sup>
            <br/>
          </small>
            <button class="btn btn-success btn-sm" v-on:click="displayDayDetail(detail)">
              <i class="fa fa-pencil"></i>Detail</button>
          </td>
        </tr>
      </table>
    </div>
    <hr/>
    <div class="row" v-show="selectedDay.Temperatures.length>0">
      <div class="col-md-10">

        <h4 class="text-warning">{{selectedDay.DayOfDate}} ({{selectedDay.FormattedDate}})</h4>
      </div>
    </div>

    <table class="table table-striped"  v-show="selectedDay.Temperatures.length>0">
      <thead class="bg-warning">
        <th></th>
        <th>HI</th>
        <th>Low</th>
        <th>Wind(m/s)</th>
        <th>Clouds</th>
      </thead>
      <tr v-for="location in selectedDay.Temperatures">
        <td>
          <strong>{{displayTimeOnly(location)}}</strong>
        </td>
        <td>
          <strong>{{location.main.temp_max}}
            <sup>°С</sup>
          </strong>
        </td>
        <td>
          <strong>{{location.main.temp_min}}
            <sup>°С</sup>
          </strong>
        </td>
        <td>
          <strong> {{location.wind.speed}} </strong>
        </td>
        <td>

          <small>
            <strong>{{location.clouds.all}} % , {{location.main.grnd_level}} hpa</strong>
          </small>


        </td>
      </tr>
    </table>

  </div>

</template>
<script>
  var Sugar = require('sugar');
  require('jquery');
  import location_data from './LocationDetails.vue';

  export default {
    name: 'WeatherForecast',
    components: {
      location_data
    },
    mounted: function () {
      if (!this.$store.state.selectedLocation.coord) {
        this.$snotify.error('Please search the location!', 'Weather forecast');
        this.$router.push('/');
        return;
      }
      this.getWeeklyWeatherForecastDetails();
    },
    methods: {
      getWeeklyWeatherForecastDetails: function () {
        var self = this;
        var selectedLocation = this.$store.state.selectedLocation;
        self.currentWeekData = [];
        if (selectedLocation.coord) {
          self.$store.dispatch('getWeeklyWeatherForecastDetails', {
              "lat": selectedLocation.coord.lat,
              "lon": selectedLocation.coord.lon
            })
            .then(response => {
              //May show notification etc.
              //Add some logic to show data in days from the returned items.
              this.displayDataForWeek();
            }, error => {
              this.$snotify.error('There were some error occured!', 'Weather forecast');
            })
        }
      },
      displayDataForWeek: function () {
        var forecastData = [];
        if (this.$store.state.weeklyForeCastDetails.cnt > 0) {
          forecastData = this.$store.state.weeklyForeCastDetails.list;
        }
        var weeklyForeCastData = [];
        $.each(forecastData, function (index, f) {
          var date = new Sugar.Date(f.dt_txt);

          var existingKey = weeklyForeCastData.find(function (w) {
            return w.Date == date.short().raw;
          });

          if (!existingKey) {
            var newItem = {
              Date: date.short().raw,
              FormattedDate: "",
              DayOfDate: "",
              MinTemp: -1,
              MaxTemp: -2,
              Temperatures: []
            }
            newItem.Temperatures.push(f);
            newItem.FormattedDate = Sugar.Date.short(date);
            newItem.DayOfDate = Sugar.Date.format(date, '%A');
            weeklyForeCastData.push(newItem);
          } else {
            existingKey.Temperatures.push(f);
          }
        });
        this.currentWeekData = weeklyForeCastData;
        if (this.currentWeekData.length > 0) {
          $.each(this.currentWeekData, function (index, t) {
            var max = Math.max.apply(Math, t.Temperatures.map(function (o) {
              return o.main.temp_max;
            }))
            t.MaxTemp = max;
            var min = Math.min.apply(Math, t.Temperatures.map(function (o) {
              return o.main.temp_min;
            }))
            t.MinTemp = min;
          });
        }
      },
      displayDayDetail: function (day) {
        console.log("day", day);
        this.selectedDay = day;
      },
      displayTimeOnly: function (date) {
        var d = new Sugar.Date(date.dt_txt);
        return Sugar.Date.format(d, '{hh}:{mm} {TT}')
      }

    },
    data() {
      return {
        currentWeekData: [],
        selectedDay: {Temperatures:[]}
      }
    },

  }

</script>
