@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.weather-box
{
    position: relative;
    margin: auto;
    margin-top:20px;
    padding:10px 10px 10px 10px;
    width: 800px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow:0 0 150px 0 rgba(0,0,0,.5);
    /* padding: 32px 0px 0px 32px; */
    /* position: relative; */
 
}

body{
    background-color:#ccc;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
}

h2,h3,h4{
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
}

.weather-row
{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: solid 1px grey;
    margin-bottom:5px;
}

.week-box{
    border: solid 1px black;
    border-radius: 4px 4px 4px 4px;
}
.week-header{
    background-color:gray;
    color:white;
    font-weight: bold;

}