<template>
  <div id="app" class="container">
    <div class="weather-box">
      <div class="page-header">
        <h2 class="text-warning">Weather Forecast</h2>
      </div>
      <hr/>
      <router-view/>
    </div>
     <vue-snotify></vue-snotify>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }

</script>
